* {
  margin: 0;
  padding: 0;
}

//npm run dev    time 1.31

html {
  font-size: 20px;
}

body {
  color: white;
  background-color: darkslategrey;
}

main{  
  min-height: 98rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


footer{  
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



